body {
    background-color: black;
    height: 600px;
}

.watch-main-container {
    background-color: #717a73;
    width: 17%;
    height: 400px;
    margin: auto;
    position: relative;
    top: 39%;
    clip-path: polygon(-10px 12%, 116% 0, 100% 100%, 0 100%);
}

.nut-right-circle {
    width: 40px;
    height: 40px;
    background-color: #545951;
    float: right;
    position: relative;
    border-radius: 50%;
    top: 50px;
    right: 15px;
    animation: cog 6s infinite;
    animation-timing-function: linear;
}

@keyframes cog {
    0% {
        transform: translateX(-50%) rotate(0deg)
    }
    100% {
        transform: translateX(-50%) rotate(360deg)
    }
}

.nut-right-circle-middle {
    width: 20px;
    height: 20px;
    background-color: #717a73;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 10px;
    z-index: 2;
}

.nut-part {
    border: 2px solid #545951;
    background-color: #545951;
    position: relative;
    top: 10px;
    margin: 20%;
    width: 135%;
    height: 10%;
    z-index: 1;
}

.nut-right-circle .nut-part:nth-child(2) {
    position: relative;
    top: -10px;
    transform: rotate(10deg);
    left: -18px;
}

.nut-right-circle .nut-part:nth-child(3) {
    position: relative;
    transform: rotate(50deg);
    top: -26px;
    left: -20px;
}

.nut-right-circle .nut-part:nth-child(4) {
    position: relative;
    transform: rotate(95deg);
    top: -44px;
    left: -19px;
}

.nut-right-circle .nut-part:last-child {
    position: relative;
    transform: rotate(140deg);
    top: -60px;
    left: -18px;
}

.nut-center-container {
    position: relative;
    top: 146px;
}

.nut-center-circle {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    animation: cog-center 6s infinite;
    animation-timing-function: linear;
}

@keyframes cog-center {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.nut-center {
    position: relative;
    height: 45px;
    width: 200px;
    background-color: #3a3f3b;
    margin: auto;
    border-radius: 8%;
}

.nut-center-container .nut-center:first-child {
    position: relative;
    top: 55px; left: -20px; transform: rotate(90deg);
}

.nut-center-container .nut-center:nth-child(2) {
    position: relative;
    top: 12px; left: -20px; transform: rotate(45deg);
}

.nut-center-container .nut-center:nth-child(3) {
    position: relative;
    bottom: 33px; /*
    transform: rotate(105deg);
    */ left: -20px;
}

.nut-center-container .nut-center:last-child {
    position: relative;
    bottom: 78px; transform: rotate(135deg); left: -19px;
}

.big-circle {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #c1bec0;
    border-radius: 50%;
    margin: auto;
    bottom: 30px;
}

.medium-circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    bottom: 105px;
}

p {
    position: relative;
    text-align: center;
}

.big-circle p:first-child {
    top: 5px;
}

.big-circle p:nth-child(2) {
    text-align: right;
    top: 30px;
}

.big-circle p:nth-child(3) {
    top: 70px;
}

.big-circle p:nth-child(4) {
    text-align: left;
    bottom: 35px;
    left: 5px;
}

.small-circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    top: 40px;
    z-index: 4;
}

.hour-line {
    position: relative;
    margin: auto;
    height: 8px;
    width: 30px;
    background-color: #a9843a;
    border-radius: 20%;
    transform: rotate(90deg);
    top: 10px;
    z-index: 2;
}

.minute-line {
    position: relative;
    margin: auto;
    height: 5px;
    width: 45px;
    background-color: #726347;
    border-radius: 20%;
    transform: rotate(25deg);
    right: 20px;
    top: 12px;
}

.second-line {
    position: relative;
    margin: auto;
    height: 2px;
    width: 40px;
    background-color: #444138;
    border-radius: 20%;
    transform: rotate(50deg);
    top: 35px;
    left: 15px;
}

.nut-right-circle {
    position: relative;
}

.nut-left-container {
    position: relative;
    top: 30px;
}

.nut-left-circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7b5a16;
    left: 30px;
    top: -35px;
    animation: cog-left 2s infinite;
    animation-timing-function: linear;
}

@keyframes cog-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nut-left {
    position: relative;
    width: 70px;
    height: 7px;
    background-color: #7b5a16;
    margin: 5%;
    left: 20px;
}

.nut-left-container .nut-left:first-child {
    transform: rotate(8deg);
    top: 20px;
    left: -13px;
}

.nut-left-container .nut-left:nth-child(2) {
    transform: rotate(55deg);
    top: 13px;
    left: -15px;
}

.nut-left-container .nut-left:nth-child(3) {
    transform: rotate(100deg);
    top: 3px;
    left: -15px;
}

.nut-left-container .nut-left:nth-child(4) {
    transform: rotate(150deg);
    top: -8px;
    left: -15px;
}

.head-line {
    position: relative;
    width: 250px;
    height: 15px;
    background-color: #202321;
    bottom: 365px;
    transform: rotate(-10deg);
    right: 12px;
}

.chimney {
    position: relative;
    width: 40px;
    height: 60px;
    background-color: #292e29;
    margin: auto;
    bottom: 180px;
    right: 70px;
    z-index: -1;
}

.chimney-left {
    position: relative;
    border-bottom: 15px solid #454c47;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 20px;
    transform: rotate(90deg);
    right: 9px;
    top: 20px;
}

.chimney-left-circle {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #737770;
}

.chimney-left .chimney-left-circle:first-child {
    top: 8px;
    left: 10px;
}

.chimney-left .chimney-left-circle:last-child {
    top: 2px;
}

.chimney-right {
    position: relative;
    width: 20px;
    height: 40px;
    background-color: #a8aba6;
    left: 22px;
    border-radius: 17%;
    bottom: 10px;
}

.chimney-right-circle {
    position: relative;
    width: 9px;
    height: 9px;
    background-color: #777872;
    margin: auto;
    border-radius: 50%;
}

.chimney-right .chimney-right-circle:first-child {
    right: 4px;
    top: 4px;
}

.chimney-right .chimney-right-circle:nth-child(2) {
    right: 4px;
    top: 20px;
}

.chimney-right .chimney-right-circle:nth-child(3) {
    left: 8px;
    bottom: 13px;
}

.chimney-right .chimney-right-circle:last-child {
    left: 8px;
    top: 2px;
}

.chimney-line {
    position: relative;
    height: 25px;
    width: 2px;
    background-color: #63574e;
    margin: auto;
    bottom: 95px;
}

.chimney-line-container .chimney-line:first-child {
    bottom: 80px;
}

.chimney-line-container .chimney-line:nth-child(2) {
    right: 19px;
    bottom: 105px;
}

.chimney-line-container .chimney-line:last-child {
    left: 19px;
    bottom: 130px;
}

.chimney-top {
    position: relative;
    border-bottom: 30px solid #252c25;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 10px;
    width: 30px;
    bottom: 195px;
    right: 6px;
}

.chimney-right-line {
    position: relative;
    width: 160px;
    height: 10px;
    transform: rotate(1deg);
    background-color: #9a7628;
    bottom: 150px;
    left: 35px;
    z-index: -1;
}

.chimney-left-line {
    position: relative;
    width: 200px;
    height: 10px;
    background-color: #644b16;
    bottom: 155px;
    right: 200px;
    z-index: -1;
}

.chimney-left-line-circle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #321e09;
    bottom: 170px;
    right: 210px;
}

.left-part-bottom {
    position: relative;
    height: 70px;
    width: 15px;
    background-color: #9b761e;
    left: 553px;
    top: 65px;
}

.left-part-bottom-circle {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8e6512;
    left: 2px;
    top: 5px;
}

.left-part-bottom .left-part-bottom-circle:nth-child(2) {
    top: 45px;
}

.left-part-top {
    position: relative;
    border-bottom: 16px solid #af8823;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 5px;
    width: 35px;
    transform: rotate(270deg);
    left: 520px;
    top: 18px;
    z-index: -1;
}

.left-part-line-left {
    position: relative;
    width: 100px;
    height: 10px;
    background-color: #523e26;
    left: 440px;
    z-index: -2;
}

.left-part-line-vertical {
    position: relative;
    width: 5px;
    height: 320px;
    background-color: #a07918;
    left: 440px;
    bottom: 310px;
    z-index: -3;
}

.left-part-line-vertical-top {
    position: relative;
    width: 20px;
    height: 30px;
    background-color: #bc9f2c;
    left: 435px;
    bottom: 636px;
}

.right-part-bottom {
    position: relative;
    height: 60px;
    width: 15px;
    background-color: #a39049;
    bottom: 555px;
    left: 768px;
}

.right-part-bottom-circle {
    position: relative;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #6e5a20;
    left: 2px;
    top: 5px;
}

.right-part-bottom .right-part-bottom-circle:nth-child(2) {
    top: 35px;
}

.right-part-top {
    position: relative;
    border-bottom: 16px solid #b5a365;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 8px;
    width: 30px;
    transform: rotate(90deg);
    bottom: 598px;
    left: 773px;
    z-index: -1;
}

.right-part-top-line {
    position: relative;
    width: 50px;
    height: 8px;
    background-color: #5f4b29;
    bottom: 615px;
    left: 790px;
    z-index: -2;
}

.bulb-bottom-line {
    position: relative;
    width: 5px;
    height: 30px;
    background-color: #967b22;
    bottom: 640px;
    left: 835px;
    z-index: -3;
}

.bulb-body {
    position: relative;
    background-color: #555c54;
    width: 50px;
    height: 50px;
    clip-path: polygon(49% 25%, 89% 26%, 100% 56%, 82% 85%, 17% 85%, 0 56%, 9% 28%);
    bottom: 710px;
    left: 812px;
}

.bulb-body-line {
    position: relative;
    width: 55px;
    height: 15px;
    background-color: #49554f;
    top: 20px;
}

.bulb-line-outside {
    position: relative;
    width: 30px;
    height: 100px;
    border: 1px solid white;
    bottom: 820px;
    left: 820px;
    border-radius: 50px 50px;
    z-index: -1;
    animation-name: bulb;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes bulb {
    50% {
        background-color: yellow;
    }
}

.bulb-line-inside {
    position: relative;
    width: 10px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50px 50px;
}

.bulb-line-outside .bulb-line-inside:first-child {
    top: 40px;
    left: 5px;
}

.bulb-line-outside .bulb-line-inside:last-child {
    left: 12px;
    bottom: 2px;
}